<div>
  <h2 class="text-center text-teal-900">Jugadores</h2>
  <form [formGroup]="formPlayers" class="px-2 py-4 flex flex-col gap-4">
    <input
      type="text"
      formControlName="player1"
      (input)="validateInputsContent()"
      placeholder="Jugador 1 (Min: 3letras)"
      class="text-2xl p-2 border-b-2 border-s-teal-800"
    />
    <input
      type="text"
      formControlName="player2"
      (input)="validateInputsContent()"
      placeholder="Jugador 2 (Min: 3letras)"
      class="text-2xl p-2 border-b-2 border-s-teal-800"
    />
    <input
      type="text"
      formControlName="player3"
      (input)="validateInputsContent()"
      placeholder="Jugador 3 (Min: 3letras)"
      class="text-2xl p-2 border-b-2 border-s-teal-800"
    />
    <input
      type="text"
      formControlName="player4"
      (input)="validateInputsContent()"
      placeholder="Jugador 4 (Min: 3letras)"
      class="text-2xl p-2 border-b-2 border-s-teal-800"
    />
  </form>
</div>
<div class="absolute left-0 bottom-0 w-full flex px-0 py-0">
  <a
    [routerLink]="['/']"
    class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
  >
    Menu
  </a>

  @if (validToStartGame()) {
    <a
      [routerLink]="['/game']"
      class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
    >
      Iniciar partida
    </a>
  }
</div>
