<h1 class="text-3xl text-center mb-4">Contador de palabras</h1>

<div class="border-amber-700 bg-white border-4 p-5 rounded-2xl w-[350px] h-[550px] relative">
  <div>
    <h2 class="text-center text-[0.8rem] text-gray-6 00">Partida en progreso</h2>
    <div class="h-[440px] mt-2 grid grid-cols-2 gap-4">
      @for (item of this.players(); track $index) {
        <div
          class="flex justify-center items-center bg-[#e6d3ad] text-[#4b3621] font-serif text-lg px-4 py-4 border-2 border-[#b79b6c] rounded-md shadow-[0_6px_0_#b79b6c] transition-all active:translate-y-[4px] active:shadow-[0_2px_0_#b79b6c] select-none"
        >
          <p class="break-all line-clamp-2 leading-snug">{{ item }}</p>
        </div>
      }
    </div>
  </div>
  <div class="absolute left-0 bottom-0 w-full flex px-0 py-0">
    <a
      [routerLink]="['/']"
      class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
    >
      Salir
    </a>
    <a
      [routerLink]="['/']"
      class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
    >
      Finalizar partida
    </a>
  </div>
</div>
