<h1 class="text-3xl text-center p-4 mb-8">Contador de palabras</h1>

<div class="border-amber-700 bg-white border-4 p-5 rounded-2xl w-[500px] h-[600px] relative">
  <div>
    <p class="text-center">Partida en progreso</p>
    <ul class="h-[500px] overflow-y-auto">
      @for (item of this.players(); track $index) {
        <li class="border-b-2 py-2">{{ item }}</li>
      }
    </ul>
  </div>
  <div class="absolute left-0 bottom-0 w-full flex px-0 py-0">
    <a
      [routerLink]="['/users']"
      class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
    >
      Nueva partida
    </a>
    <button class="w-1/2 rounded-2xl p-2">Proximamente</button>
  </div>
</div>
