<div>
  <p class="text-center">Historial de partidas</p>
  <ul class="h-[440px] overflow-y-auto">
    <li class="border-b-2 py-2">Partida 1 - 120 palabras</li>
    <li class="border-b-2 py-2">Partida 2 - 95 palabras</li>
    <li class="border-b-2 py-2">Partida 3 - 110 palabras</li>
    <li class="border-b-2 py-2">Partida 4 - 130 palabras</li>
    <li class="border-b-2 py-2">Partida 5 - 80 palabras</li>
    <li class="border-b-2 py-2">Partida 6 - 105 palabras</li>
    <li class="border-b-2 py-2">Partida 7 - 115 palabras</li>
    <li class="border-b-2 py-2">Partida 8 - 90 palabras</li>
    <li class="border-b-2 py-2">Partida 9 - 125 palabras</li>
    <li class="border-b-2 py-2">Partida 10 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 11 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 12 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 13 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 14 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 15 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 16 - 100 palabras</li>
    <li class="border-b-2 py-2">Partida 17 - 100 palabras</li>
  </ul>
</div>
<div class="absolute left-0 bottom-0 w-full flex px-0 py-0">
  <a
    [routerLink]="['/users']"
    class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
  >
    Nueva partida
  </a>

  @if (playerInStorage()) {
    <a
      [routerLink]="['/game']"
      class="text-center cursor-pointer w-1/2 bg-white hover:bg-gray-200 rounded-2xl p-2"
    >
      Continuar partida
    </a>
  }
</div>
